body {
    font-family: 'Comfortaa', sans-serif;
    cursor: none; /* Hide the default cursor */
}




.custom-cursor {
    position: fixed;
    width: 30px; /* Adjust the width of your custom cursor */
    height: 30px; /* Adjust the height of your custom cursor */
    background: url('assets/images/paw.svg') no-repeat;
    background-size: cover;
    pointer-events: none; /* Ensure the cursor doesn't interfere with other elements */
    z-index: 9999; /* Set a high z-index to make sure it's above other elements */
}


.intro {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    padding-top: 150px;
    padding-bottom: 400px;
}

.intro h2 {
    font-size: 50px;
    
}

h2{
    text-align: center;
    font-size: 50px;
    padding-bottom: 80px;
}

h3 { 
    text-align: center;
    font-size: 30px;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    text-align: center;
}

.about-text {
    flex: 1;
    margin-right: 20px; /* Adjust the margin as needed */
}

.about-image {
    width: 500px; /* Adjust the width as needed */
    height: 600px; /* Adjust the height as needed */
}

.skills-container, .contacts-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    text-align: center;
    justify-content: space-around;
}

.skills-container h2 {
    grid-column: span 2; /* Span two columns for the title */
}

.skills-container div, .contacts-container div {
    position: relative;
    overflow: hidden;
}

.skills-container i, .contacts-container i {
    font-size: 3em;
    transition: color 0.3s ease-in-out;
}

.skills-container img, .contacts-container img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.skills-container div:hover i, .contacts-container div:hover i {
    color: pink; 
}

.skills-container div:hover img, .contacts-container div:hover img {
    transform: scale(1.1); /* Increase the size on hover */
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

#back-to-top:hover {
    background-color: #0056b3;
}


a, button {
    cursor: none;
}