.intro {
    font-size: 400px;
}

#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#about img {
    max-width: 50%; /* Adjust as needed */
}

#projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse; /* Image on the right, text on the left */
}

#projects img {
    max-width: 50%; /* Adjust as needed */
}

/* Full width sections */
section {
    width: 100vw;
    padding: 2rem; /* Adjust padding as needed */
    box-sizing: border-box;
    transition: background-color 0.3s ease; /* Example transition */
}